.main-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    column-gap: 50px;
    row-gap: 50px;

    margin: 50px;
}

.float-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    .hidden-input {
        display: none;
    }
}
